/* The below is included because some CSS that works within quirks mode is not valid in standards mode. In specific, all percentage-based sizes must inherit from parent block elements, and if any of those ancestors fail to specify a size, they are assumed to be sized at 0 x 0 pixels. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	/* font-family: Verdana, Geneva, sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
}
#map {
	height: 100%;
}
/* END standards mode fix */

/* Used by the "Address" field: */
.ui-autocomplete {
	background-color: white;
	width: 300px;
	border: 1px solid #cfcfcf;
	list-style-type: none;
	padding-left: 0px;
	font-size:12px;
}
.largetitle {
	font-size: 15px;
	font-weight: bold;
	margin-bottom:5px;
}

div#map_canvas {
	width:100%;
	height:100%
}

div#leftmenu_hidden {
	position:absolute;
	right:5px;
	top:48px;
	display:none;
}

div#leftmenu_hidden input#ShowMenuID {
	font-size:18px;
	width:130px;
	font-weight:bold;
}

div#leftmenu {
	position:absolute;
	right:5px;
	top:48px;
	width:225px;
	padding:5px;
	border:1px;
	border-color:#000;
	border-style:solid;
	background-color:#FFF;
	opacity:0.90;
	filter:alpha(opacity=90);
	font-size:12px;
	/*
	line-height: 15px;

	*/

}
div#leftmenu input#HideMenuID {
	font-size:15px;
	width:100%;
	font-weight:bold;
}
div#leftmenu .legendcolor {
	float:left;
	/*
	font-size:20px;
	*/
	height:18px;
	margin-bottom:2px;
}
/* Widths */
div#leftmenu .legendcolor.twowide {
	width:15px;
}
div#leftmenu .legendcolor.fourwide {
	width:10px;
}
div#leftmenu .legendcolor.fivewide {
	width:6px;
}
/* Colors */
div#leftmenu .legendcolor.darkgreen {
	background-color:#004d00;
}
div#leftmenu .legendcolor.brightgreen {
	background-color:#00fe00;
}
div#leftmenu .legendcolor.red {
	background-color:#ea4434;
}
div#leftmenu .legendcolor.orange {
	background-color:#f38b38;
}
div#leftmenu .legendcolor.yellow {
	background-color:#f3d810;
}
div#leftmenu .legendcolor.green {
	background-color:#84ca50;
}
div#leftmenu .legendcolor.blue {
	background-color:#0d7bba;
}
div#leftmenu div.divider {
    border-top: 1px solid #000;
    margin:10px 0;
}
div#leftmenu input {
	font-size:10px;
}
div#leftmenu input#address {
	width:220px;
}
div#leftmenu input#city {
	width:88px;
}
div#leftmenu input#state {
	width:58px;
}
div#leftmenu input#myHtmlInputButton {
	font-weight:bold;
}

div#leftmenu div#destination {
	margin-top:5px;
}
div#directions_panel {
	position:absolute;
	left:70px;
	top:5px;
	width:245px;
	padding:5px;
	overflow:hidden;
	border:1px;
	border-color:#000;
	border-style:solid;
	background-color:#FFF;
	opacity:0.90;
	filter:alpha(opacity=90);
	display:none; 
}
/* For clearing floats */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
/* InfoWindow */
div.gm-style-iw input {
	font-size:10px;
}
div.gm-style-iw input#fromaddress {
	width:300px;
}
div.gm-style-iw input#fromcity {
	width:168px;
}
div.gm-style-iw input#fromstate {
	width:55px;
}
div.gm-style-iw input#get-directions {
	font-weight:bold;
}